.header {
    &__heading {
        display: flex;
        padding: 1rem;

        & h1 {
            & a {
                text-decoration: none;
                user-select: none;
            }
        }
    }

    & .nav {
        &__point {
            display: flex;
            justify-content: center;
            align-content: center;
            text-align: center;
            vertical-align: center;

            & div {
                display: flex;
                align-items: center;
            }
        }

        &__nav {
            list-style: none;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;

            & li {
                cursor: pointer;
                height: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 1.5rem;
                margin: 0 1rem;

                &:last-child {
                    margin-right: 2.5rem;
                }

                & a {
                    text-decoration: none;
                    margin: auto 0;
                }
            }
        }
    }
}

.theme-switcher {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    & .icon {
        transition: 100ms ease-in;
    }

    transition: 100ms ease-in;
}

.icon {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 0.5rem;
}

.box {
    width: 70%;
    font-size: 1.5rem;
    border-radius: 5px;
    border-radius: 1rem 1rem 1rem 1rem;

    &__heading {
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem 1rem 0 0;
    }

    &__content {
        padding: 1rem;
    }

    &--left {
        align-self: flex-start;
    }

    &--right {
        align-self: flex-end;
    }

    &--wide {
        width: 50%;
    }

    &--centered {
        margin: 2rem auto;
    }
}

.features-box {
    padding: 1rem 1rem;

    & ul {
        list-style-position: inside;
    }

    & > p {
        margin-bottom: 0.25rem;
    }
}

.github {
    margin-top: 1rem;
    display: flex;

    & svg {
        margin-left: 0.5rem;
    }

    & a {
        text-decoration: none;
        margin-left: 0.5rem;
        font-weight: 800;
    }
}

.discord-invite {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3rem;

    &__link {
        text-decoration: none;
    }
}

.commands-box {
    &__heading {
        margin: 0;
    }

    &__nav {
        &:hover {
            border-radius: 1rem;
        }
    }

    &__command {
        width: 100%;
    }

    &__content {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
    }

    &__categories {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        & a {
            width: 100%;
            text-align: center;
            padding: 0.25rem;
            text-decoration: none;
        }
    }

    &__list {
        margin-right: 1rem;
        flex-flow: column;

        & a {
            display: block;
            text-decoration: none;
            width: 15rem;

            &:hover {
                font-weight: 800;
            }

            &:not(:first-child) {
                padding: 0.5rem 0;
            }
        }
    }
}

.command {
    width: 100%;
    border-radius: 0.5rem;

    &__title {
        font-weight: 800;
        text-align: center;
        padding: 0.5rem;
    }

    &__content {
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
    }
}

.hidden {
    display: none;
}

.active {
    font-weight: 600;
}

.active-command-nav {
    border-radius: 1rem;
}
