.main {
    position: relative;
    flex: auto;
}

.header {
    flex: none;
    width: 100%;

    &__heading {
        display: flex;
        padding: 1rem;

        & h1 {
            & a {
                text-decoration: none;
                user-select: none;
            }

            @include device(tablet) {
                display: none;
            }
        }

        @include device(phone) {
            display: none;
        }
    }

    & .nav {
        &__point {
            display: flex;
            justify-content: center;
            align-content: center;
            text-align: center;
            vertical-align: center;

            & div {
                display: flex;
                align-items: center;
            }
        }

        &__nav {
            list-style: none;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;

            & li {
                cursor: pointer;
                height: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 1.5rem;
                margin: 0 1rem;

                &:last-child {
                    margin-right: 2.5rem;
                }

                & a {
                    text-decoration: none;
                    margin: auto 0;
                }
            }

            @include device(phone) {
                justify-content: space-around;
            }

            @include device(tablet) {
                justify-content: space-around;
            }
        }

        @include device(phone) {
            width: 100%;
        }
    }
}

.theme-switcher {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    & .icon {
        transition: 100ms ease-in;
    }

    transition: 100ms ease-in;
}

.icon {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;

    @include device(phone) {
        display: none;
    }
}

.box {
    width: 70%;
    font-size: 1.5rem;
    border-radius: 5px;
    border-radius: 1rem 1rem 1rem 1rem;

    &__heading {
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem 1rem 0 0;

        @include device(phone) {
            padding: 0.5rem;
        }
    }

    &__content {
        padding: 1rem;

        @include device(phone) {
            padding: 0;
        }
    }

    &--left {
        align-self: flex-start;
    }

    &--right {
        align-self: flex-end;
    }

    &--wide {
        width: 85%;
    }

    &--centered {
        margin: 2rem auto;
    }

    @include device(phone) {
        width: 100%;
    }

    @include device(tablet) {
        width: 90%;
    }
}

.features-box {
    padding: 1rem 1rem;

    & ul {
        list-style-position: inside;
    }

    & > p {
        margin-bottom: 0.25rem;
    }
}

.github {
    margin-top: 1rem;
    display: flex;

    & svg {
        margin-left: 0.5rem;
    }

    & a {
        text-decoration: none;
        margin-left: 0.5rem;
        font-weight: 800;
    }
}

.discord-invite {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3rem;

    &__link {
        text-decoration: none;
    }

    @include device(phone) {
        flex-flow: column;
        margin: 1rem 0;
        text-align: center;
    }
}

.commands-box {
    &__heading {
        margin: 0;
    }

    &__nav {
        &:hover {
            border-radius: 1rem;
        }
    }

    &__command {
        width: 100%;
    }

    &__content {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;

        @include device(phone) {
            flex-flow: column;
        }
    }

    &__categories {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        & a {
            width: 100%;
            text-align: center;
            padding: 0.25rem;
            text-decoration: none;
        }
    }

    &__list {
        margin-right: 1rem;
        flex-flow: column;

        & a {
            display: block;
            text-decoration: none;
            width: 15rem;

            &:hover {
                font-weight: 800;
            }

            &:not(:first-child) {
                padding: 0.5rem 0;
            }

            @include device(phone) {
                display: inline-block;
                width: 49%;
                text-align: center;
            }
        }

        @include device(phone) {
            flex-flow: row;
            margin-bottom: 1rem;
        }
    }
}

.command {
    width: 100%;
    border-radius: 0.5rem;

    &__title {
        font-size: 1.5rem;
        position: relative;
        display: flex;
        justify-content: center;
        font-weight: 800;
        margin-left: auto;

        & span {
            padding: 0.5rem 0;
        }
    }

    &__defaults-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.5rem 1rem;
        border-radius: 10%;
        user-select: none;
        cursor: pointer;
        transition: 200ms ease-in;
    }

    &__content {
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;

        &__defaults {
            justify-self: flex-start;
        }

        @include device(phone) {
            padding: 1rem 0;
            justify-content: space-between;
        }
    }

    &__default {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        & h3 {
            font-size: 1.5rem;
        }

        & span {
            display: block;
        }
    }
}

.help-box {
    display: flex;

    & h3 {
        margin-bottom: 1rem;
    }

    & p {
        line-height: 1.5;
    }

    &__chapters {
        margin-right: 2rem;
        width: 32rem;

        @include device(phone) {
            margin: 0;
            width: 100%;
        }
    }

    &__category {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        @include device(phone) {
            margin-bottom: 1rem;
        }
    }

    &__topic {
        display: flex;
        font-weight: 800;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    &__links {
        margin-left: 0.75rem;

        & ul {
            list-style: none;
            font-size: 1.5rem;

            & li {
                padding-bottom: 0.75rem;

                & a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    word-wrap: break-word;

                    &:hover {
                        font-weight: 800;
                    }
                }
            }
        }
    }

    &__content {
        width: 100%;

        & .table {
            margin-bottom: 2rem;
        }

        & a {
            text-decoration: none;
            font-weight: 800;
        }
    }

    @include device(phone) {
        flex-flow: column;
    }

    @include device(tablet) {
        width: 100%;
    }
}

.code-block {
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: $white;
    background-color: $black;
}

.table {
    width: 100%;

    & tbody:before {
        content: "-";
        display: block;
        line-height: 0.5em;
        color: transparent;
    }

    & thead {
        text-align: left;
    }

    & thead,
    & tbody {
        @include device(phone) {
            font-size: 1.1rem;
            & tr th:nth-child(3),
            & tr td:nth-child(3) {
                display: none;
            }
        }

        @include device(tablet) {
            font-size: 1.5rem;
            & tr th:nth-child(3),
            & tr td:nth-child(3) {
                display: none;
            }
        }
    }

    @include device(phone) {
    }
}

.type {
    display: inline-block;
    color: $white;
    font-weight: 800;
    width: 9rem;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;

    &--string {
        background-color: $red;
        color: $white;
    }

    &--number {
        background-color: $blue;
    }

    &--bool {
        background-color: $green;
    }

    &--mention {
        background-color: $red-2;
    }
}

.stats-box {
    height: 100%;

    &__server-search {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__no-results {
            text-align: center;
            color: $red;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    &__favorites {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;

        &__heading {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    &__search-header {
        margin-bottom: 1.25rem;

        & h3 {
            font-size: 2rem;
        }

        & p {
            font-size: 1.5rem;
        }
    }

    #server-search {
        padding: 1rem 1rem;
    }

    .autocomplete {
        position: absolute;
        display: flex;
        flex-flow: column;
        top: 4rem;
        left: 0;
        right: 0;
        border-top: none;

        &__item {
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &,
            &:active,
            &:visited {
                text-decoration: none;
            }

            &__content {
                display: flex;
                align-items: center;
            }

            &__image {
                margin-right: 1rem;

                & img {
                    border-radius: 50%;
                    height: 5rem;
                    width: 5rem;
                }
            }

            &__bookmark-icon {
                height: 4rem;
                width: 4rem;
                z-index: 10;
            }

            &__info {
                display: inline-block;
                & span {
                    display: block;
                }
            }

            &__name {
                font-size: 2rem;
                word-break: break-all;
            }
        }

        &__items-left {
            margin-top: 0.5rem;
            text-align: center;
        }
    }

    .autocomplete__item__placeholder,
    .favorite__placeholder {
        position: relative;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;

        &::after {
            content: "?";
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .favorite {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 30rem;
        cursor: pointer;
        border-radius: 0.5rem;
        margin-bottom: 1rem;

        &,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &__close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            background-color: $red;
            border-radius: 50%;

            &:hover {
                background-color: darken($red, 3);
                transform: scale(1.1);
            }

            &::after {
                content: "✕";
                font-size: 1.5rem;
                font-weight: 800;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__img {
            margin-right: 1rem;

            & img {
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
            }
        }

        &__name {
            font-weight: 800;
            word-wrap: break-word;
            width: 20rem;
        }
    }

    &__search-input {
        // Keeping the div as position relative reference
        & > div {
            position: relative;
            display: flex;
            align-content: center;
            justify-content: center;
        }

        & div input {
            position: relative;
            font-size: 1.75rem;
            width: 100%;
            padding: 0.5rem 1rem;
            outline: none;
            border: 2px solid $blue;
            border-bottom: none;

            &:focus {
                outline: none;
            }
        }
    }
}

.ratelimit-box {
    background-color: rgba($dark-2, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
        transform: translate(-50%, -50%);
    }

    &__close {
        background-color: $dark-primary;
        font-size: 2rem;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: $dark-primary-2;
        }
    }
}

.hidden {
    display: none;
}

.active {
    font-weight: 600;
}

.active-command-nav {
    border-radius: 1rem;
}

.margin-top-small {
    margin-top: 1rem;
}

.margin-top-medium {
    margin-top: 2rem;
}

.red {
    color: $red;
}
