.header {
    margin: 0 auto;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.main {
    padding: 1rem;
    font-size: 1.25rem;
}

.commands-box {
    display: flex;
    flex-flow: column;
}
