// Default dark theme
body {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    ::-webkit-scrollbar-thumb {
        background: $white-2;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $white;
    }
    ::-webkit-scrollbar-thumb:active {
        background: $white;
    }
    ::-webkit-scrollbar-track {
        background: $dark;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    color: $white;
    background-color: $dark-2;

    & .header {
        background: $dark-primary;
        box-shadow: 0px 5px 10px 1px opacify(darken($dark-2, 3), 0.3);
        border: 1px solid $dark-2;
        border-bottom: 2px solid $dark-2;

        &__heading {
            color: $white;

            & h1 {
                & a,
                & a:active {
                    color: $white-1;
                }
            }
        }

        & .nav {
            &__nav {
                & li {
                    &:hover {
                        border-bottom: 2px solid $white-2;
                    }

                    & a {
                        color: $white;
                    }
                }
            }
        }
    }

    & .icon {
        fill: $white-2;
    }

    & .box {
        background-color: $dark;

        &__heading {
            color: $white-2;
            background-color: $dark-primary-2;
            border-bottom: 1px solid $dark-2;
        }
    }

    & .github {
        & a {
            color: $white;
        }
    }

    & .discord-invite {
        background-color: $dark-2;
        color: $white;
        border: 1px solid $dark-primary;

        &__link {
            color: $white;
        }
    }

    & .commands-box {
        &__nav {
            border: 1px solid $dark;

            &:hover {
                border: 1px solid $dark-primary;
            }
        }

        &__list {
            & a {
                color: $white-2;
            }
        }

        &__categories {
            & a {
                color: $white-2;
            }
        }
    }

    & .command {
        border: 2px solid $dark-primary;

        &__title {
            color: $white-2;
            background-color: $dark-primary;
        }

        &__defaults-button {
            background-color: $dark-primary-2;

            &:hover {
                background-color: darken($dark-primary-2, 2);
            }
        }

        &__content {
            background-color: $dark-2;
        }
    }

    & .active--underline {
        border-bottom: 2px solid $white-2;
    }

    & .active-command-nav {
        color: $white;
        background-color: $dark-primary;
    }

    & .theme-switcher {
        .icon {
            fill: $yellow;
        }

        &:hover {
            & .icon {
                fill: $dark;
            }
        }
    }

    & .help-box {
        &__chapters {
            border-right: 1px solid rgba($white, 0.1);
        }

        & a {
            color: $white-2;
        }
    }

    & .help-active {
        text-shadow: 0 0 0.9px $white, 0 0 0.9px $white, 0 0 0.9px $white;
    }

    & .stats-box {
        &__search-input {
            & input {
                background-color: $dark-primary;
                border-color: $black;
                color: $white-2;
            }
        }
    }

    .search-result {
        &,
        &:active,
        &:visited {
            color: $white;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba($gray, 0.1);
        }

        &__bookmark-icon {
            &--nonfav {
                fill: $dark;

                &:hover {
                    fill: $white-2;
                }
            }

            &--fav {
                fill: $white-2;

                &:hover {
                    fill: $dark;
                }
            }
        }
    }

    & .autocomplete__item__placeholder,
    & .favorite__placeholder {
        background-color: $dark;
        border-color: $dark-primary;
    }

    & .favorite {
        background-color: $dark-primary-2;

        &,
        &:active,
        &:visited {
            color: $white;
        }

        &:hover {
            background-color: $dark-primary;
        }
    }

    & .stats {
        &__nav {
            color: $white;
            background-color: $dark-primary-2;
            & li div {
                &:hover .stats__nav-border {
                    display: block;
                    border-color: $white-2;
                }
            }
        }

        &__icon {
            fill: $white-2;
        }
    }

    & .active-stats {
        font-weight: 600;
        border-color: $white-2;
    }

    & .overview {
        &__btn {
            background-color: $dark;

            &:hover {
                background-color: darken($dark, 4);
            }

            &--active {
                background-color: darken($dark, 4);
            }
        }
    }

    & .guild-info {
        color: $white-1;

        &__data {
            & div {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($dark-primary-2, 0.5);
                }
            }
        }
    }

    & .pickups {
        &__nav {
            &-page {
                background-color: $dark-primary;

                &:hover {
                    background-color: $dark-primary-2;
                }
            }
        }

        &__icon {
            fill: $white-2;

            &:hover {
                fill: $white;
            }
        }

        &__btn {
            background-color: $dark;

            &:hover {
                background-color: $green-dark;
            }
        }
    }

    & .pickup-item {
        &__header {
            background-color: $dark-primary;
        }

        &__name,
        &__players {
            background-color: $dark-2;
        }

        &__content {
            border: 1px solid $dark-primary;
            border-top: 1px solid $dark-2;
            background-color: $dark-primary-2;
        }

        &__share {
            background-color: $dark-primary;

            &-link {
                background-color: $dark;
            }
        }
    }

    & .player-search {
        &__input {
            border: 2px solid $blue;
            background-color: $dark-primary;

            & input {
                color: $white-2;
                background-color: $dark-primary;
            }
        }

        &__item {
            background-color: $dark-primary-2;

            &-right {
                background-color: $black;
            }
        }

        &__icon {
            fill: $white-2;

            &:hover {
                fill: $white;
            }
        }
    }

    & .player {
        &__group {
            &:not(:last-child) {
                border-bottom: 1px solid rgba($white-2, 0.1);
            }
        }
    }

    & .player-pickup-item {
        color: $white-2;
        background-color: $dark-primary-2;

        &:hover {
            background-color: darken($dark-primary-2, 2);
        }

        &__box {
            background-color: $black;
        }

        &__icon {
            fill: $white-2;
        }
    }

    & .active-sort {
        background-color: $green-dark;
    }

    & .active-page {
        background-color: $dark-primary-2;
    }

    & .bg-darkened {
        background-color: rgba($dark-2, 0.9);
    }

    & .player-selected {
        background-color: darken($dark-primary-2, 2);
    }
}

// light theme
.light-theme {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    ::-webkit-scrollbar-thumb {
        background: $dark;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $dark-2;
    }
    ::-webkit-scrollbar-thumb:active {
        background: $dark-2;
    }
    ::-webkit-scrollbar-track {
        background: $white-2;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    color: $dark;
    background-color: $white-1;

    & .header {
        background: $white;
        box-shadow: 0 5px 10px 1px rgba(200, 200, 200, 0.1);
        border: 1px solid #ccc;
        border-bottom: 2px solid $white-2;

        &__heading {
            color: $dark;

            & h1 {
                & a,
                & a:active {
                    color: $dark;
                }
            }
        }

        & .nav {
            &__nav {
                & li {
                    &:hover {
                        border-bottom: 2px solid $hotpink;
                    }

                    & a {
                        color: $dark;
                    }
                }
            }
        }
    }

    & .icon {
        fill: $dark;
    }

    & .box {
        background-color: $white;

        &__heading {
            color: $white;
            background-color: $dark;
            border-bottom: 1px solid $white-2;
        }
    }

    & .github {
        & a {
            color: $hotpink;
        }
    }

    & .discord-invite {
        background-color: $dark;
        color: $white;
        border: 1px solid $white;

        &__link {
            color: $hotpink;
        }
    }

    & .commands-box {
        &__nav {
            border: 1px solid $white;

            &:hover {
                border-color: $dark;
            }
        }

        &__list {
            & a {
                color: $dark;
            }
        }

        &__categories {
            & a {
                color: $dark;
            }
        }
    }

    & .command {
        border: 2px solid $dark;

        &__title {
            color: $white;
            background-color: $dark;
        }

        &__defaults-button {
            background-color: lighten($dark, 8);

            &:hover {
                background-color: darken($dark, 2);
            }
        }

        &__content {
            background-color: $white-2;
        }
    }

    & .help-box {
        &__chapters {
            border-right: 1px solid rgba($dark, 0.1);
        }

        & a {
            color: $dark;
        }
    }

    & .help-active {
        text-shadow: 0 0 0.9px $dark-2, 0 0 0.9px $dark-2, 0 0 0.9px $dark-2;
    }

    & .active--underline {
        border-bottom: 2px solid $hotpink;
    }

    & .active-command-nav {
        color: $white !important;
        background-color: $dark;
    }

    & .theme-switcher {
        .icon {
            fill: $dark;
        }

        &:hover {
            & .icon {
                fill: $yellow;
            }
        }
    }

    & .stats-box {
        &__search-input {
            & input {
                background-color: $white;
                border-color: $white-2;
                color: $dark;
            }
        }
    }

    .search-result {
        &,
        &:active,
        &:visited {
            color: $white;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba($gray, 0.1);
        }

        &:hover {
            background-color: $dark-2;
        }

        &__bookmark-icon {
            &--nonfav {
                fill: $dark-2;

                &:hover {
                    fill: $white-2;
                }
            }

            &--fav {
                fill: $white-2;

                &:hover {
                    fill: $dark;
                }
            }
        }
    }

    & .search-result__item__placeholder,
    & .favorite__placeholder {
        background-color: $dark-primary;
    }

    & .favorite {
        background-color: $white;

        &,
        &:active,
        &:visited {
            color: $dark;
        }

        &:hover {
            background-color: $white-2;
        }

        &__close {
            color: $white;
        }

        &__placeholder {
            color: $white;
        }
    }

    & .stats {
        &__nav {
            color: $dark;
            background-color: $white;

            & li div {
                &:hover .stats__nav-border {
                    display: block;
                    border-color: $hotpink;
                }
            }

            &-border {
                color: $hotpink;
            }
        }

        &__icon {
            fill: $dark;
        }
    }

    & .overview {
        &__btn {
            color: $white-2;
            background-color: $dark;

            &:hover {
                background-color: darken($dark, 4);
            }

            &--active {
                background-color: darken($dark, 4);
            }
        }
    }

    & .guild-info {
        color: $dark-2;

        &__data {
            & div {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($dark, 0.2);
                }
            }
        }

        &__placeholder {
            color: $white;
        }
    }

    & .pickups {
        &__nav {
            &-page {
                background-color: $dark;
                color: $white-2;

                &:hover {
                    background-color: $dark-2;
                }
            }
        }

        &__icon {
            fill: $dark;

            &:hover {
                fill: $dark-2;
            }
        }

        &__btn {
            background-color: $dark-2;
            color: $white-2;

            &:hover {
                background-color: $green-dark;
            }
        }
    }

    & .pickup-item {
        &__header {
            background-color: $white-2;
            color: $dark;
        }

        &__name,
        &__players {
            background-color: $white-1;
        }

        &__content {
            border: 1px solid $white;
            border-top: 1px solid $white-1;
            background-color: darken($white-2, 4);
        }

        &__share {
            background-color: $white-2;

            &-link {
                background-color: $white-1;
            }
        }
    }

    & .player-search {
        &__input {
            border: 1px solid $dark;
            background-color: $white-2;

            & input {
                color: $dark;
                background-color: $white-2;
            }
        }

        &__item {
            background-color: $white-1;
            color: $dark;

            &-right {
                color: $white;
                background-color: $black;
            }
        }

        &__icon {
            fill: $dark;

            &:hover {
                fill: $black;
            }
        }
    }

    & .player {
        &__group {
            &:not(:last-child) {
                border-bottom: 1px solid rgba($dark, 0.1);
            }
        }
    }

    & .player-pickup-item {
        color: $dark;
        background-color: $white-2;

        &:hover {
            background-color: darken($white-2, 2);
        }

        &__box {
            background-color: $white-1;
        }

        &__icon {
            fill: $dark;
        }
    }

    & .active-sort {
        background-color: $green-dark;
    }

    & .active-page {
        background-color: $dark-2;
    }

    & .bg-darkened {
        background-color: rgba($white-1, 0.9);
    }

    & .player-selected {
        background-color: $white-2;
    }
}
