$white: #fff;
$white-1: #f1f3f8;
$white-2: #d6e0f0;
$dark: #393b44;
$dark-2: #222831;
$gray: #ccc;
$hotpink: #ff69b4;
$yellow: #ffff90;
$dark-primary: #30475e;
$dark-primary-2: darken($dark-primary, 5);
