<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../homepage/partials/head') %>
    <title>Help</title>
</head>

<body>
    <%- include('../homepage/partials/header', { page: 'help' }) %>
    <div class="main">
        <div class="box box--centered box--wide">
            <div class="box__heading">
                Help & Variables
            </div>
            <div class="box__content">
                <div class="help-box">
                    <div class="help-box__chapters">
                        <div class="help-box__category">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-setup"></use>
                            </svg>
                            <div class="help-box__links">
                                <div class="help-box__topic">
                                    <span>Setup</span>
                                </div>
                                <ul>
                                    <li><a href="#first-steps">First steps</a></li>
                                    <li><a href="#settings">Settings</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="help-box__category">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-variables"></use>
                            </svg>
                            <div class="help-box__links">
                                <div class="help-box__topic">
                                    <span>Configuration variables</span>
                                </div>
                                <ul>
                                    <li><a href="#bot-variables">Bot variables</a></li>
                                    <li><a href="#pickup-variables">Pickup variables</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="help-box__category">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-misc"></use>
                            </svg>
                            <div class="help-box__links">
                                <div class="help-box__topic">
                                    <span>Miscellaneous</span>
                                </div>
                                <ul>
                                    <li><a href="#set-permissions">Set permissions, create a moderator role</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="help-box__content" id="help-content">
                        <div id="first-steps" class="hidden">
                            <h3>Creating the pickup channel</h3>
                            <p>The bot requires a pickup channel which is used to organize pickups and execute all <a
                                    href="./commands">commands</a>.</p>
                            <p>The pickup channel can be created using the <a href="./commands#pickup">pickup</a>
                                command, execute the following command in the channel you want pickups to happen: </p>
                            <div class="code-block">!pickup pickup</div>
                            <p>You can create a "listen" channel as well optionally, this channel is used for admins /
                                mods only to execute not pickup related commands do so by executing the following
                                command in your chosen channel:</p>
                            <div class="code-block">!pickup listen</div>
                            <h3 class="margin-top-small">Creating a server & assigning it</h3>
                            <p>To organize pickup servers the bot stores server data which can be assigned globally or
                                per
                                pickup, this server is required to point the players to the correct server on pickup
                                start, to create a server use the <a href="./commands#create_server">create_server</a>
                                command:</p>
                            <div class="code-block">!create_server pickup 127.0.0.1 password</div>
                            <p>Replace "pickup", "127.0.0.1" and "password" with your desired server name, ip and
                                password, the password is optional.</p>
                            <p> One can specify different servers for different pickups, or use one server as default
                                for all to do
                                so we modify the bot (<a href="./commands#modify_bot">modify_bot</a>) and assign our
                                created server to it:
                            </p>
                            <div class="code-block">!modify_bot server pickup</div>
                            <h3 class="margin-top-small">Creating pickups</h3>
                            Now its time to start creating pickups which your players can <a
                                href="./commands#add">add</a> to, to do so execute the
                            following command in your pickup or listen channel:
                            <div class="code-block">!create_pickups name:players name:players..</div>
                            <p>Replace name with your chosen name and players with the required player count.</p>
                            <p>Example creating a ca and tdm pickup:</p>
                            <div class="code-block">!create_pickups ca:10 tdm:10</div>
                            <p class="margin-top-small">Thats it, if you want to modify pickups or the bot further use
                                the <a href="./commands#modify_bot">modify_bot</a> and <a
                                    href="./commands#modify_pickup">modify_pickup</a> commands.</p>
                            <p>Reference to the configuration variables can be found in the "Configuration variables"
                                section.</p>
                        </div>
                        <div id="settings" class="hidden">
                            <h3>Changing bot settings</h3>
                            <p>Bot settings can be modified using the <a href="./commands#modify_bot">modify_bot</a>
                                command.</p>
                            <p>The possible properties you can change are listed in the "Configuration variables"
                                section. To change the bot prefix you would use:</p>
                            <div class="code-block">!modify_bot prefix ?</div>
                            <p>Executing this command would result in updating the prefix to "?".</p>
                            <h3 class="margin-top-medium">Changing pickup settings</h3>
                            Pickups are modified using the <a href="./commands#modify_pickup">modify_pickup</a> command.
                            The usable properties are listed in the "Configuration variables" section as well.
                            Executing:
                            <div class="code-block">!modify_pickup ca afkcheck true</div>
                            <p>Would result in enabling the afk check for pickup ca.</p>
                            <h3 class="margin-top-medium">Modifying commands</h3>
                            <p>For some commands its possible to change default settings. To see if it is possible to
                                change command behaviour you can check the <a href="./commands">Commands</a> page.</p>
                            <p>Modifiable commands will display a "Defaults" button top right in the command info.</p>
                            <p class="margin-top-small">To modify a command you use the <a
                                    href="./commands#modify_command">modify_command</a>
                                command, example:</p>
                            <div class="code-block">!modify_command expire max_expire 120</div>
                            <p>Overrides the default of 1440 minutes (24 hours) to 120 minutes (2 hours) for the highest
                                possible expire time.</p>
                            <p class="margin-top-small">Using the same command it is also possible to disable or enable
                                disabled commands again,
                                to disable a command:</p>
                            <div class="code-block">!modify_command expire disable</div>
                            <p>to enable the command again:</p>
                            <div class="code-block">!modify_command expire enable</div>
                        </div>
                        <div id="bot-variables" class="hidden">
                            <table class="table">
                                <thead>
                                    <th>Property</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Restriction</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>prefix</td>
                                        <td>Bot command prefix</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>1 to 3 chars long</td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>global_expire<span class="red">*</span></td>
                                        <td>When to remove players after latest add</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>3 hours to 24 hours, given in ms</td>
                                    </tr>
                                    <tr>
                                        <td>trust_time<span class="red">*</span></td>
                                        <td>Time for server join add restriction</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>15 minutes to 14 days, given in ms</td>
                                    </tr>
                                    <tr>
                                        <td>explicit_trust</td>
                                        <td>Only allow known players to add</td>
                                        <td>
                                            <div class="type type--bool">Boolean</div>
                                        </td>
                                        <td>true or false</td>
                                    </tr>
                                    <tr>
                                        <td>whitelist<span class="red">*</span></td>
                                        <td>Only allows players with this role to add</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>blacklist<span class="red">*</span></td>
                                        <td>Disallow players with this role to add</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>promotion_delay</td>
                                        <td>Time interval pickups can be promoted / a sub called</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>5 minutes to 12 hours, given in ms</td>
                                    </tr>
                                    <tr>
                                        <td>server<span class="red">*</span></td>
                                        <td>Default pickup server</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>Valid stored server</td>
                                    </tr>
                                    <tr>
                                        <td>start_message</td>
                                        <td>Message which will be displayed on pickup starts</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>1 to 200 chars long</td>
                                    </tr>
                                    <tr>
                                        <td>sub_message</td>
                                        <td>Message which will be displayed on sub call</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>1 to 200 chars long</td>
                                    </tr>
                                    <tr>
                                        <td>notify_message</td>
                                        <td>Message which will be sent to players with notify enabled</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>1 to 200 chars long</td>
                                    </tr>
                                    <tr>
                                        <td>iteration_time</td>
                                        <td>Time interval between afk check / picking iterations</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>10 seconds to 5 minutes, given in ms</td>
                                    </tr>
                                    <tr>
                                        <td>afk_time</td>
                                        <td>Time until a player is stored as AFK without chat activity</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>5 minutes to 6 hours</td>
                                    </tr>
                                    <tr>
                                        <td>afk_check_iterations</td>
                                        <td>Iterations until the afk check aborts</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 to 5</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>picking_iterations</td>
                                        <td>Iterations until the picking phase aborts</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 to 5</td>
                                    </tr>
                                    <tr>
                                        <td>warn_streaks</td>
                                        <td>Highest possible warn streak</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 to 10</td>
                                    </tr>
                                    <tr>
                                        <td>warn_streak_expiration</td>
                                        <td>Time until a warn streak expires</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 day to 30 days, given as 1m 2h 3m 4w</td>
                                    </tr>
                                    <tr>
                                        <td>warn_expiration</td>
                                        <td>Time until a warn expires</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>2 hours to 14 days, given as 1m 2h 3m 4w</td>
                                    </tr>
                                    <tr>
                                        <td>warn_bantime</td>
                                        <td>Time until a warn ban expires</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 hour to 7 days, given as 1m 2h 3m 4w</td>
                                    </tr>
                                    <tr>
                                        <td>warn_bantime_multiplier</td>
                                        <td>Multiplier of the warn bantime on streaks</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>1 to 5</td>
                                    </tr>
                                    <tr>
                                        <td>warns_until_ban</td>
                                        <td>Warns until the player gets banned</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>2 to 10</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><span class="red">*</span>Can be none to disable / clear</p>
                            <p>Variables which are used for the <a href="./commands#modify_bot">modify_bot</a> command
                            </p>
                        </div>
                        <div id="pickup-variables" class="hidden">
                            <table class="table">
                                <thead>
                                    <th>Property</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Restriction</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>name</td>
                                        <td>Name of the pickup</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>1 to 20 chars long</td>
                                    </tr>
                                    <tr>
                                        <td>players</td>
                                        <td>Player count for the pickup</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>2 to 100</td>
                                    </tr>
                                    <tr>
                                        <td>teams</td>
                                        <td>Team count for the pickup</td>
                                        <td>
                                            <div class="type type--number">Number</div>
                                        </td>
                                        <td>2 to 10</td>
                                    </tr>
                                    <tr>
                                        <td>default</td>
                                        <td>Default property</td>
                                        <td>
                                            <div class="type type--bool">Boolean</div>
                                        </td>
                                        <td>true or false</td>
                                    </tr>
                                    <tr>
                                        <td>mappool<span class="red">*</span></td>
                                        <td>Map pool for the pickup</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>Valid stored map pool</td>
                                    </tr>
                                    <tr>
                                        <td>afkcheck</td>
                                        <td>Specifies if the AFK check for the pickup is enabled</td>
                                        <td>
                                            <div class="type type--bool">Boolean</div>
                                        </td>
                                        <td>true or false</td>
                                    </tr>
                                    <tr>
                                        <td>pickmode</td>
                                        <td>Specifies the pick mode for the pickup</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>Has to be no_teams, manual or elo</td>
                                    </tr>
                                    <tr>
                                        <td>whitelist<span class="red">*</span></td>
                                        <td>Only allow players with this role to add</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>blacklist<span class="red">*</span></td>
                                        <td>Disallow players with this role to add</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>promotion<span class="red">*</span></td>
                                        <td>Role used to promote this pickup</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>captain<span class="red">*</span></td>
                                        <td>Captain role used for picking</td>
                                        <td>
                                            <div class="type type--mention">Role</div>
                                        </td>
                                        <td>Role mention, id or name</td>
                                    </tr>
                                    <tr>
                                        <td>server<span class="red">*</span></td>
                                        <td>Server for this pickup</td>
                                        <td>
                                            <div class="type type--string">String</div>
                                        </td>
                                        <td>Valid stored server</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><span class="red">*</span>Can be none to disable / clear</p>
                            <p>Variables which are used for the <a href="./commands#modify_pickup">modify_pickup</a>
                                command
                        </div>
                        <div id="set-permissions" class="hidden">
                            <h3>Set command permissions for a role</h3>
                            <p>The bots command permission system grants server administrators full permissions to
                                execute every command.</p>
                            <p>To create a pickup moderator role you can use the <a
                                    href="./commands#permission">permission</a> command.</p>
                            <p class="margin-top-small">To create a pickup mod role which for example can warn, ban,
                                unwarn and unban players you excecute:</p>
                            <div class="code-block">!permission @mod add warn ban unwarn unban</div>
                            <p>@mod is the role you want to give permissions to, followed by add which tells the command
                                to add permissions followed by a list of command names.</p>
                            <p>You can also check which permissions the role already got by passing "show" to the
                                command:
                            </p>
                            <div class="code-block">!permission @mod show</div>
                            <p>To revoke given command permissions you can pass "remove" to the command:</p>
                            <div class="code-block">!permission @mod remove ban unban</div>
                            <p>This revokes the permissions to use the ban and unban commands.</p>
                            <p class="margin-top-small">Commands which require permissions can be found on the <a
                                    href="./commands">commands</a> page in the "Admin" section.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>