<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../homepage/partials/head') %>
    <title>Stats</title>
</head>

<body>
    <%- include('../homepage/partials/header', { page: 'login' }) %>
    <div class="main">WIP</div>
</body>

</html>