<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../homepage/partials/head') %>
    <title>Stats</title>
</head>

<body>
    <%- include('../homepage/partials/header', { page: 'stats' }) %>
    <div class="main">
        <div class="ratelimit-box hidden" id="ratelimit-box">
            <div class="ratelimit-box__content">
                <h1>You sent too many requests in a short amount of time</h1>
                <h2>It takes up to 15 minutes to reset the limit</h2>
                <div class="ratelimit-box__close" id="ratelimit-box-close">Close</div>
            </div>
        </div>
        <div class="stats-box" id="stats-content">
            <div class="stats-box-search">
                <div class="stats-box__server-search">
                    <div class="stats-box__search-header">
                        <h3>Find the server you want to retrieve stats for</h3>
                        <p>Use the server id or name</p>
                    </div>
                    <div class="stats-box__search-input">
                        <div>
                            <input type="text" name="server-search" id="server-search" placeholder="id or name..">
                            <div class="autocomplete" id="autocomplete-box">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-box__favorites">
                    <span class="stats-box__favorites__heading">Favorites</span>
                    <div class="stats-box__favorites__content" id="server-favorites">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>