<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../homepage/partials/head') %>
    <title>Stats</title>
</head>

<body>
    <%- include('../homepage/partials/header', { page: 'stats' }) %>
    <div class="main">
        <div class="ratelimit-box hidden" id="ratelimit-box">
            <div class="ratelimit-box__content">
                <h1>You sent too many requests in a short amount of time</h1>
                <h2>It takes up to 15 minutes to reset the limit</h2>
                <div class="ratelimit-box__close" id="ratelimit-box-close">Close</div>
            </div>
        </div>
        <div class="stats-box" id="stats-content">
            <div class="stats-box-search hidden" id="bookmark-page">
                <div class="stats-box__bookmark-page">
                    <div class="stats-box__server-search">
                        <div class="stats-box__search-header">
                            <h3>Find the server you want to retrieve stats for</h3>
                            <p>Use the server id or name</p>
                        </div>
                        <div class="stats-box__search-input">
                            <div>
                                <input type="text" name="server-search" id="server-search" placeholder="id or name..">
                                <div class="autocomplete" id="autocomplete-box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stats-box__search-results">
                        <div class="stats-box__search-results__heading">Search results</div>
                        <div class="stats-box__search-results__content" id="search-results"></div>
                        <span class="stats-box__search-results__left-info" id="search-info">Start to search to see
                            results
                            here</span>
                    </div>
                    <div class="stats-box__favorites">
                        <span class="stats-box__favorites__heading">Favorites</span>
                        <div class="stats-box__favorites__content" id="server-favorites">
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats hidden" id="stats-page">
                <div class="stats__header">
                    <ul class="stats__nav" id="stats-page-nav">
                        <li>
                            <div id="back">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="stats__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-back"></use>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div id="overview">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="stats__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-overview"></use>
                                </svg>
                                <span>overview</span>
                                <div class="stats__nav-border"></div>
                            </div>
                        </li>
                        <li>
                            <div id="pickups">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="stats__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-pickups"></use>
                                </svg>
                                <span>pickup history</span>
                                <div class="stats__nav-border"></div>
                            </div>
                        </li>
                        <li>
                            <div id="players">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="stats__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-players"></use>
                                </svg>
                                <span>players</span>
                                <div class="stats__nav-border"></div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="stats__content">
                    <div class="stats__overview hidden" id="overview-content">
                        <div class="guild-info">
                            <div class="guild-info__heading">
                                <h2 class="guild-info__name" id="guild-name"></h2>
                                <div class="guild-info__img" id="guild-image"></div>
                            </div>
                            <div class="guild-info__content">
                                <div class="guild-info__data" id="guild-data">
                                    <div>
                                        <p class="guild-info__property">ID</p>
                                    </div>
                                    <div>
                                        <p class="guild-info__property">Members</p>
                                    </div>
                                    <div>
                                        <p class="guild-info__property">Pickup players</p>
                                    </div>
                                    <div>
                                        <p class="guild-info__property">Pickups played</p>
                                    </div>
                                    <div>
                                        <p class="guild-info__property">Lastgame</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="overview__charts">
                            <div class="overview__charts--top">
                                <div class="overview__chart overview__chart--pickups" id="chart-container-pickups">
                                    <canvas id="chart-pickups"></canvas>
                                </div>
                                <div class="overview__chart overview__chart--top" id="chart-container-top">
                                    <canvas id="chart-top"></canvas>
                                </div>
                            </div>
                            <div class="overview__chart overview__chart--activity" id="chart-container-activity">
                                <div class="overview__chart__selection">
                                    <div class="overview__btn overview__btn--active" id="activity-month">By Month</div>
                                    <div class="overview__btn" id="activity-weekdays">By Weekdays</div>
                                    <div class="overview__btn" id="activity-time">By Time</div>
                                </div>
                                <canvas id="chart-activity"></canvas>

                            </div>
                        </div>
                    </div>
                    <div class="stats__pickups hidden" id="pickups-content">
                        <div class="pickups__sorting">
                            <div class="pickups__group">
                                <div id="sort-date-order">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="pickups__icon">
                                        <use xlink:href="./www/homepage/img/sprite.svg#icon-sort-asc"></use>
                                    </svg>
                                </div>
                                <div class="pickups__btn active-sort" id="sort-date">Date</div>
                            </div>
                            <div class="pickups__group">
                                <div id="sort-gametype-order">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="pickups__icon">
                                        <use xlink:href="./www/homepage/img/sprite.svg#icon-sort-asc"></use>
                                    </svg>
                                </div>
                                <div class="pickups__btn" id="sort-gametype">Gametype</div>
                            </div>
                            <div class="pickups__group">
                                <div id="sort-count-order">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="pickups__icon">
                                        <use xlink:href="./www/homepage/img/sprite.svg#icon-sort-asc"></use>
                                    </svg>
                                </div>
                                <div class="pickups__btn" id="sort-count">Player count</div>
                            </div>
                        </div>
                        <div class="pickups__list" id="pickup-list"></div>
                        <div class="pickups__nav">
                            <div id="previous">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="pickups__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-previous"></use>
                                </svg>
                            </div>
                            <div class="pickups__nav-pages" id="pages">

                            </div>
                            <div id="next">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="pickups__icon">
                                    <use xlink:href="./www/homepage/img/sprite.svg#icon-next"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="stats__players hidden" id="players-content">
                        <div class="bg-darkened hidden" id="search-bg"></div>
                        <div class="player-search" id="player-search-main">
                            <div class="player-search__content" id="search-content">
                                <div id="search">
                                    <div class="player-search__heading">
                                        <h2>Search for the player you want to retrieve stats for</h2>
                                        <p>Use the nick or the full user id</p>
                                    </div>
                                    <div class="player-search__input">
                                        <input type="text" id="player-search" placeholder="Nick or full id..">
                                        <div class="player-search__results" id="player-search-results">
                                        </div>
                                        <div class="player-search__info hidden" id="results-left">One or more results
                                            left</div>
                                        <div class="player-search__info hidden" id="no-results">No player found</div>
                                    </div>
                                </div>
                                <div class="hidden" id="search-icon">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="player-search__icon">
                                        <use xlink:href="./www/homepage/img/sprite.svg#icon-search"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>

                        <div class="player" id="player">
                            <div class="player__top">
                                <div class="player__chart" id="chart-container-player-pickups">
                                    <canvas id="chart-player-pickups"></canvas>
                                </div>
                            </div>
                            <div class="player__bottom">
                                <div class="player__bottom-left">
                                    <div class="player__info">
                                        <h2 class="player__heading">Stats for <span id="player-name"></span></h2>
                                        <div class="player__group">
                                            <span>Elo</span>
                                            <span id="player-elo"></span>
                                        </div>
                                        <div class="player__group">
                                            <span>Played pickups</span>
                                            <span id="player-pickup-amount"></span>
                                        </div>
                                        <div class="player__group">
                                            <span>Played as</span>
                                            <ul id="player-names"></ul>
                                        </div>
                                    </div>
                                    <div class="player__lastgames-times">
                                        <h2 class="player__heading">Last game times</h2>
                                        <table>
                                            <tbody id="last-game-times"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="player__pickups">
                                    <h2 class="player__heading">Last 10 played pickups</h2>
                                    <div class="player__pickups-content" id="last-pickups"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>