$background: #eeeeee;
$dark: #222831;
$purple: #440a67;
$light-gray: #ddd;
$gray: #aaa;
$white: #fff;
$red: #ff4b5c;
$red-2: #7d0633;
$blue: #133b5c;
$green: #7ea04d;
$dark-green: #065446;
$orange: #ac4b1c;
$gold: #e2b007;
