$background: #191b1d;
$dark: #222831;
$dark-2: #111418;
$purple: #440a67;
$light-gray: #ddd;
$gray: #aaa;
$white: #f4f9f9;
$red: #ff4b5c;
$red-2: #7d0633;
$blue: #19456b;
$blue-2: darken(#19456b, 5);
$green: #7ea04d;
$dark-green: #065446;
$orange: #ac4b1c;
$gold: #e2b007;
